/* PARA PAQUETE NIÑO */
/* -------------------------------- */

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .main-footer,
.sidebar-mini.sidebar-collapse .main-header{
  margin-left: 0 !important;
}

.section {
    background: #F45B69;
    padding: 50px 0;
}

.section .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section h1 {
    font-size: 2.5rem;
}

.section h2 {
    font-size: 1.3rem;
}

  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
p{
    margin-bottom: 0 !important;
}

.timeline:before{
    background: none;
}

  .timeline {
      white-space: nowrap;
      overflow-x: hidden;
      padding: 15px 0 0px !important;
      max-width: 1400px;
      margin: 0;
  }

  .timeline ol {
      font-size: 0;
      width: 100vw;
      padding: 190px 0;
      transition: all 1s;
  }
  
  .timeline ol li {
      position: relative;
      display: inline-block;
      list-style-type: none;
      width: 160px;
      height: 5px;
      background: #fc4b6c;
  }
  
  .timeline ol li:last-child {
      width: 280px;
  }
  
  .timeline ol li:not(:first-child) {
      margin-left: 14px;
  }
  
  .timeline ol li:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + 1px);
      bottom: 0;
      width: 12px;
      height: 12px;
      transform: translateY(-50%);
      border-radius: 50%;
      background: #312a2a;
  }
  
  .timeline ol li div.timelineText {
      position: absolute;
      left: calc(100% - 130px);
      width: 280px;
      padding: 15px;
      font-size: 11px;
      white-space: normal;
      color: black;
      background: #ebbfbf;
      display: grid;
  }
  
  .timeline ol li div.timelineText::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      /* height: 0; */
      border-style: solid;
  }
  
  .timeline ol li:nth-child(odd) div.timelineText {
      top: -16px;
      transform: translateY(-100%);
  }
  
  .timeline ol li:nth-child(odd) div.timelineText::before {
      top: 100%;
      border-width: 8px 8px 0 8px;
      border-color: #615758 transparent transparent transparent;
      left: 46%;
  }
  
  .timeline ol li:nth-child(even) div.timelineText {
      top: calc(100% + 16px);
  }
  
  .timeline ol li:nth-child(even) div.timelineText::before {
      top: -8px;
      border-width: 8px 8px 0 8px;
      border-color: #615758  transparent transparent white;
      transform: rotate(180deg);
      left: 47%;
  }
  
  .timeline time {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8px;
  }
  
  
  /* TIMELINE ARROWS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline .arrows {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }
  
  .timeline .disabled {
      opacity: .5;
  }
  
  .timeline .arrows .arrow {
      background: none;
      border: none;
      line-height: 0;
  }
  
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
      width: auto;
  }
  
    .timeline ol {
      padding: 0;
      transform: none !important;
    }
  
    .timeline ol li {
      display: block;
      height: auto;
      background: transparent;
    }
  
    .timeline ol li:first-child {
      margin-top: 25px;
    }
  
    .timeline ol li:not(:first-child) {
      margin-left: auto;
    }
  
    .timeline ol li div.timelineText {
      width: 94%;
      height: auto !important;
      margin: 0 auto 25px;
    }
  
    .timeline ol li div.timelineText {
      position: static;
    }
  
    .timeline ol li:nth-child(odd) div.timelineText {
      transform: none;
    }
  
    .timeline ol li:nth-child(odd) div.timelineText::before,
    .timeline ol li:nth-child(even) div.timelineText::before {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: none;
      border-left: 1px solid white;
      height: 25px;
    }
  
    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div.timelineText::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
      display: none;
    }
  
      .col-md-5{
          padding-right: 30px;
      }
  }




/* -------------------------- PARA CUADRO CON BORDE ANIMADO ---------------------- */

.box{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* height: 100px; */
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 3px 15px rgb(23, 32, 90);
  /* border: 2px solid #2a3cad; */
  color: white;
  padding: 10px;
}


.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

/* .box span:nth-child(2)
{
  transform:rotate(90deg);
} */

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

/* .box span:nth-child(4)
{
  transform:rotate(270deg);
} */

.box span:before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

.box span.span2:before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform:scaleX(0);
    transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
    transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
} 